<!DOCTYPE html>
<html>

<head>
    <title>GOLOVOLOMKA</title>
    <style>
    body {
        margin: 20px;
    }

    img {
        margin: 20px;
    }
    </style>
</head>

<body>
    <p><a href="{{ url_for('blur') }}"><img id="one" src="{{ url_for('static', filename='zeroblur.jpg') }}"></a></p>
    <p><a href="{{ url_for('battleships') }}"><img id="two" src="{{ url_for('static', filename='ships.jpg') }}"></a></p>
    <audio id="one" src="/static/balbal.mp3"></audio>
    <audio id="two" src="/static/robo.mp3"></audio>
    <script>
    window.onload = init;

    function init() {
        var images = document.getElementsByTagName("img");
        for (var i = 0; i < images.length; i++) {
            images[i].onmouseover = musicon;
            images[i].onmouseout = musicoff;
        }
    };
    function musicon(eventObj){
    	var music = document.getElementById(eventObj.id);
    	// var music=document.getElementsByTagName("audio");
    	// for (var i = 0; i < music.length; i++) 
    	// if {
    	music.play();
    }
    function moscioff(eventObj){
    	var music = document.getElementById(eventObj.id);
    	music.pause();
    }
    </script>
</body>

</html>